@model LastHMS2.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Full_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Full_Name)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_National_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_National_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Email)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Family_Members)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Family_Members)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_Birth_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_Birth_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Doctor" asp-action="Master" asp-route-id="@Model.Doctor_Id" asp-route-HoId="@ViewBag.HoId">Back to Master Page</a>
</div>
